{% extends 'base.html' %}

{% block content %}
<a href="{{ url_for('new_course') }}"> Add Course</a>

<table border="1" cellpadding="8">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Teacher</th>
        <th>Duration</th>
        <th>Seats</th>
        <th>Actions</th>
    </tr>

    {% for course in courses %}
    <tr>
        <td>{{ course.id }}</td>
        <td>{{ course.name }}</td>
        <td>{{ course.price }}</td>
        <td>{{ course.teacher }}</td>
        <td>{{ course.duration }}</td>
        <td>{{ course.seats_count }}</td>
        <td>
            <a href="{{ url_for('update_course', id=course.id) }}">Edit</a>

            <form action="{{ url_for('delete_course', id=course.id) }}"
                  method="post" style="display:inline;">
                <button type="submit"> Delete</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
